.selectedStores {
  width: 300px;
  height: 800px;
  float: left;
  border: 1px solid gray;
}

.singleStore {
  width: 300px;
  height: 200px;
  margin: 5px;
  font-size: 11pt;
}

.mapArea {
  width: 1000px;
  height: 400px;
  float: right;
}

.tmapTemp {
  margin-top: 800px;  
  float: right;
}