<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devglan.mapper.ownerMapper">
	
	<select id="login" resultType="OwnerStore">
		select * from OwnerStore where ownerID =#{ownerID} and password =#{password}
	</select>

	<select id="countrequestreserve">
		select count(*) from reserve where ownerNo=#{ownerNo} and ok=N
	</select>
	
	<select id="countOkreserve">
		select count(*) from reserve where ownerNo=#{ownerNo} and ok=O
	</select>
	
		
</mapper>

