#MyPageProfile {
  width: 100%;
  height: 400px;
  display: inline-block;
  text-align: center;
}

#profile {
  width: 500px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

#profile:hover img {
  opacity: 0.5;
}

#profile:hover button {
  display: block;
}

#profile button {
  display: none;
  position: relative;
  bottom: 80px;
  left: 180px;
}

#profileImg, #pizzaImg {
  width: 150px;
  height: 150px;
}

#violationImg {
  width: 40px;
  height: 40px;
  position: relative;
  top: 0px;
  left: 50px;
}

#edit-button {
  width: 40px;
  height: 40px;
  float: right;
}

#editImg {
  width: 100%;
  height: 100%;
}

.ProfilePhotoUpload {
  margin: 0 auto;
  margin-top: 30px;
    border: 1px solid gray;
  height: 200px;
  width: 500px;
}
