<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.yam.service.WaitingMapper">
	
	<insert id="savewait" parameterType="bit.yam.bean.Waiting">
	    INSERT INTO waiting(adult, child, ownerNo, phone, request, userNo, username,waitingList)
	    VALUES (#{adult}, #{child}, #{ownerNo}, #{phone}, #{request}, #{userNo}, #{username}, #{waitingList})
	</insert>
	
	<select id="countwaiting" resultType="int">
		
		select count(*) from waiting where ownerNo=#{ownerNo} 
		
	</select>
	
	<select id="waitingList" resultType="bit.yam.bean.Waiting">
	
		select * from waiting where ownerNo=#{ownerNo}
	
	</select>
		
	<delete id="deletewaiting" parameterType="int">
		delete from waiting where waitNO=#{waitNO};
	</delete>
	
	<select id="waitingone" parameterType="int" resultType="int">
		select userNo from waiting where waitNO=#{waitNO} 
	</select>
	
	<update id="Noshow" parameterType="int">
		update users set violation = violation+1 where userNo=#{userNo}
	</update>
	
		
</mapper>

