<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.yam.service.ReserveMapper">
	
	<insert id="saveReserve" parameterType="bit.yam.bean.Reservation">
	    INSERT INTO reservation(reserveNO, adult, child, acceptance,ownerNo, phone, regdate, request, retime, userNo, username)
	    VALUES (#{reserveNO}, #{adult}, #{child}, "N", #{ownerNo}, #{phone}, #{regdate}, #{request}, #{retime}, #{userNo}, #{username})
	</insert>
	
	<select id="ReserveList" resultType="bit.yam.bean.Reservation">
		select * from reservation where ownerNo=#{ownerNo} and regdate=#{regdate} and acceptance="o" order by retime
	</select>

	<select id="countreservation" resultType="int">
		select count(*) from reservation where ownerNo=#{ownerNo} and regdate=#{regdate} and acceptance="o"
	</select>
	
	<select id="requestreservation" resultType="Reservation">
		select * from reservation where ownerNo=#{ownerNo} and acceptance="N" order by reserveNo
	</select>
	
	<select id="countrequestreservation" resultType="int">
		select count(*) from reservation where ownerNo=#{ownerNo} and acceptance="n"
	</select>
	
	<update id="rejectreservation">
		update reservation set acceptance="X" where reserveNo=#{reserveNo}
	</update>
	
	<update id="acceptreservation">
		update reservation set acceptance="O" where reserveNo=#{reserveNo}
	</update>
	
	<delete id="deletereservation" parameterType="int">
		delete from reservation where reserveNo=#{reserveNo};
	</delete>
	
	<select id="reserveone" parameterType="int" resultType="int">
		select userNo from reservation where reserveNo=#{reserveNo} 
	</select>
	
	<update id="Noshow" parameterType="int">
		update users set violation = violation+1 where userNo=#{userNo}
	</update>
	
	
	
</mapper>

