div{
    display: inline;
}

.MyPageMenu{
	width: 255px;
    background-color: whitesmoke;
    float: left;
    font-size: 16px;
    font-weight: bold;
    vertical-align: top;
    border: 2px solid  #f29a2e;
    
}
