.storeinfo{
    font-size: 15px;
    font-weight: bold;
    font-family: Handon3gyeopsal300g;
    margin-left: 50px
}

#storeimg{
    float: left;
    margin-right: 50px;
    margin-left: 50px;
}

#img{
    width: 400px;
    height: 400px;
    padding-bottom: 50px; 
}

#storemenu{
    width: '50px'
}

.storemenulabel{
    font-size: 20px;
    font-weight: bold;
    font-family: Handon3gyeopsal300g;
}